/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
a img {
	border: none;
}
/* Reset `button` and button-style `input` default styles */
input[type="submit"] {
	background: none;
	border: 0;
	color: inherit;
	cursor: default; 
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
}

/* GLOBAL STYLES */

html, body, .content-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow:hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
}

.content-container, .meta-workshop {
	display: flex;
	flex: 1 1 auto;
}

/* HEADER */
.header {
	/*background-color: #eee;*/
	border-bottom: 1px solid rgba(220, 220, 220, 0.5);
	height: 60px;
	position: relative;
	width: 100%;
}

.header a {
	text-decoration: none;
}

.header-nav {
	float: right;
	height: 60px;
	display: flex;
}
.header-nav > li {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}
.header-nav > li:after {
	content: '';
	padding: 0 0.5em;
	height: 50%;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.header-nav > li:last-child:after {
	border-right: 1px solid transparent;
}

.header-nav li a {
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
}

.header-nav a:hover,
.header-nav a:active {
	color: #ed6e2f;
}

.header-logo {
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 0 0 10px;
	height: 60px;

	font-size: 2.3rem;
	font-weight: bold;
	font-style: italic;
}

.header-logo, li > a.active-link {
	color: #ed6e2f;
}

.img-profile {
	width: auto;
	/*box-sizing: border-box;*/
	height: 66%;
	border-radius: 100px;
	border: 3px outset transparent;
}

/* DROPDOWN STYLES */
.dropdown {
	position: relative;
}
.dropdown:hover .drop-menu {
	display: block;
}

.drop-menu {
	border-top: 1px solid rgba(220, 220, 220, 0.5);
	box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.2);
	display: none;
	list-style: none;
	position: absolute;
	top: 60px;
	right: 0px;
	background-color: white;
	z-index: 100;
}

.drop-menu a {
	display: block;
	font-weight: normal;
	padding: 0.5em 1em 0.5em;
	text-align: left;
	white-space: nowrap;
}
.drop-menu a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #ed6e2f;
}

.dropdown:hover .drop-trigger {
	border: 3px outset #ed6e2f;
}

.big-profile {
	margin-top: 50px;
	border-radius: 1000px;
	border: 5px outset transparent;
}

.big-profile:hover {
	border: 5px outset #ed6e2f;
}

/* HEADER SANDWITCH */
.sandwitch {
	display: none;
	cursor: pointer;
	float: right;
	margin: 10px 10px;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: all 0.4s ease-in-out;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/* FLASH */
.flash-message {
	position: absolute;
	z-index: 101;
	top: -50px;
	width: 100%;
	background: #fde073;
	text-align: center;
	line-height: 2.5;
	box-shadow: 0 0 5px black;
	animation: smooth_flash 4s;
}

@keyframes smooth_flash {
	0% {opacity: 0; transform: translateY(0px);}
	33% {opacity: 1; transform: translateY(110px);}
	66% {opacity: 1; transform: translateY(110px);}
	100% {opacity: 0; transform: translateY(0px);}
}

/* FORMS */
.form-container {
	margin: auto;
	text-align: center;
	background-color: #eee;
	overflow-y: auto;
	max-height: 100%;
}
.inputs {
	margin: 60px;
}

input {
	width: 200px;
}

input:focus {
	border: 2px solid rgb(237, 110, 47, 0.6);
	box-shadow: 0px 0px 14px 1px rgba(248,112,9,0.82);
	outline: 0 none;
}

input[type=submit] {
	width: 180px;
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	box-sizing: border-box;
	height: 60px;

	font-size: 2.3rem;
	font-weight: bold;
	font-style: italic;
}
input[type=submit]:hover, input[type=submit]:active {
	color: #ed6e2f;
}

.inputs input[type=submit]:focus {
	outline: none;
	border: none;
	box-shadow: none;
	color: #ed6e2f;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 149px;
	font-style: italic;
	opacity: 0.5;
	text-align: center;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -75px;
}

.button {
	margin-bottom: 50px;
	background-color: white;
	color: black;
	border: 2px solid #ed6e2f;
	padding: 10px 70px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button:hover {
	background-color: #ed6e2f;
	color: white;
}



.tooltip:hover .tooltiptext {
	visibility: visible;
}
.inputs input:focus + span.tooltiptext {
	visibility: visible;
}

.forgotten {
	width: 149px;
	font-style: italic;
	text-align: center;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -75px;
}
.forgotten a {
	color: black;
	opacity: 0.5;
}
.forgotten a:hover, .forgotten a:active {
	opacity: 1;
}


/* FOOTER */
.footer {
	height: 20px;
	position: relative;
}
.ref {
	color: black;
	text-decoration: none;
	float: right;
	padding-right: 5px;
	font-style: italic;
	opacity: 0.5;
}
.ref:hover, .ref:active {
	opacity: 1;
}

@media (max-width: 800px) {
	.sandwitch {
		display: inline-block;
	}
	.header-nav {
		display: block;
		background-color: #eee;
		box-sizing: border-box;
		top: 60px;
		left: 0;
		height: auto;
		max-height: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		text-align: center;
		transition: all 0.8s ease-in-out;
		width: 100vw;
		z-index: 9;
	}
	.header-nav > li {
		height: auto;
		padding: 0;
	}
	.header-nav > li:after {
		content: '';
		padding: 0;
		max-height: 0px;
		border-right: 0;
	}

	.img-profile {
		width: auto;
		height: 30px;
	}

	.appear {
		max-height: 1000px;
	}
	.header-nav li {
		display: block;
		margin-top: 1em;
	}
	.header-nav > li ~ li {
		border-left: 0;
		padding-left: 0;
	}
	.header-nav > li:last-child {
		margin-bottom: 1em;
	}
	.header-nav > li.dropdown {
		margin-bottom: 0;
	}
	.header-nav {
		padding-right: 0;
	}
	.drop-trigger {
		display: none;
	}
	.dropdown {
		position: static;
	}
	.drop-menu {
		display: block;
		position: static;
		border-top: 0;
		box-shadow: none;
		background-color: #eee;
	}
	.drop-menu a {
		display: block;
		padding: 0;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
	}
}

@media (max-width: 400px) {
	.flash-message {
		line-height: 1.45;
	}
	.header-logo {
		padding-top: 12px;
		font-size: 2.2rem;
	}
	input {
		width: 130px;
	}
	.reset-pwd {
		padding: 10px 35px;
	}
}

@media (max-width: 311px) {
	html {
		display: none;
	}
}
















/*GALLERY*/
#fb-root {
	display: none;
}
.gallery {
	padding: 18.66px 1% 0% 1%;
	overflow: auto;
	width: 100%;
}

.gallery:focus {
	outline: none;
}

.gallery-picture-container {
	width: 20%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0px 3px 0px 0px;
	cursor:pointer;
}
.gallery-photo {
	width: 100%;
	height: auto;
	max-width: 502px;
	max-height: 376px;
}

.gallery-picture-container:hover .gallery-photo {
	opacity: 0.4;
}



/* The Modal (background) */
.myModal {
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.2);
	width: 33%;
	min-width: 702px;
	overflow: auto;
	max-height: 85%;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.pic_container_modal {
	margin: 20px auto;
	width: 502px;
	height: 376px;
}

.photo-modal
{
	width: 502px;
	height: 376px;
	margin: auto;
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.like {
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
}

.fb-share-button {
	text-align: center;
	display: block !important;
}

.fa-thumbs-up {
	cursor: pointer;
}

.fa-thumbs-up:hover {
	color: #ed6e2f;
}

.comments {
	width: 100%;
	padding-bottom: 20px;
}

.comments-title {
	font-family: 'Indie Flower', cursive;
	border-top: 1px solid rgba(220, 220, 220, 0.5);
	padding: 20px 0;
	font-size: 24px;
	text-align: center;
	color: #ed6e2f;
}

.comment-area {
	display: block;
	width: 502px;
	margin: auto;
	height: 60px;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	resize: none;
}
.comment-add {
	width: 100%;
}

.comment-area:focus {
	outline-color: #ed6e2f;
	border: 2px solid #ed6e2f;
}

.modal-header {
	height: 32px;
	width: 100%;
	background-color: #ed6e2f;
	color: white;
	position: relative;
}

.credential {
	margin: auto;
	width: 32px;
}

.owner-profile {
	width: 28px;
	height: 28px;
	border: 2px solid black;
	border-radius: 28px;
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.comment-div {
	background-color: rgba(0, 0, 0, 0.02);
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin: 20px 20px;
	padding: 20px 20px;
	position: relative;
	min-height: 32px;
	height: auto;
	overflow: auto;
	animation: slide-down 0.5s ease-out;
}

.comment-text {
	position: absolute;
	left: 80px;
	top: 29.5px;
	margin-bottom: 3px;
	word-break: break-all;
}

.comment-time {
	position: absolute;
	right: 2px;
	top: 2px;
	float: right;
	font-style: italic;
	font-size: 12px;
	opacity: 0.5;
}

.comments-body {
	max-height: 400px;
	overflow: auto;
	margin-bottom: 5px;
}

.scrolled {
	display: none;
}


@media (max-width: 742px) {
	.modal-content {
		width: 90%;
		min-width: 0px; 
	}
}

@media (max-width: 558px) {
	.pic_container_modal, .photo-modal {
		width: 100%;
		height: auto;
	}
	.comment-area {
		width: 90%;
	}
}

@media (max-width: 2008px) {
	.gallery-picture-container {
		width: 25%;
	}
}

@media (max-width: 1506px) {
	.gallery-picture-container {
		width: 33.33%;
	}
}
@media (max-width: 1004px) {
	.gallery-picture-container {width: 50%;
	}
}
@media (max-width: 502px) {
	.gallery-picture-container {
		width: 100%;
	}
}

@media (max-height: 1250px) {
	.comments-body {
		max-height: 250px;
	}
}

@media (max-height: 1075px) {
	.comments-body {
		max-height: 200px;
	}
}

@media (max-height: 822px) {
	.modal-content {
		max-height: 75%;
	}
	.comments-body {
		max-height: 350px;
	}
}

@media (max-height: 476px) {
	.modal-content {
		max-height: 62%;
	}
	.comments-body {
		max-height: 250px;
	}
}









/*WORKSHOP*/

.workshop-container {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-left: 1px solid rgba(220, 220, 220, 0.5);
}

.centered {
	margin: auto;
	width: 522px;
	text-align: center;
}

.title-workshop {
	margin-bottom: 50px;
	cursor: default;
}

.preview-container, .preview-element {
	text-align: left;
	width: 502px;
	height: 376px;
	position: relative;
	overflow: hidden;
}

.preview-element, .photo {
	transform: rotateY(180deg);
}

.photo {
	width: 502px;
	height: 376px;
}

.preview-container {
	border: 10px #333 solid;
}

.dropzone-layer {
	width: 100%;
	height: 95%;
	position: absolute;
	z-index: 100;
	background-color: transparent;
}

.frame-container {
	border-left: 1px solid rgba(220, 220, 220, 0.5);
	flex: 0 0 300px;
	padding-top: 10px;
	text-align: center;
	position:relative;
	overflow-y: auto;
	overflow-x: hidden;

}

.frames {
	cursor: pointer;
	z-index: 10;
}
.preview-element {
	z-index: 1;
	position: absolute;
}

li {
	list-style: none;
}

.take-picture {
	cursor: not-allowed;
	margin: 30px 0;
	width: 522px;
	box-sizing: border-box;
}

.save-picture {
	cursor: pointer;
	opacity: 0;
	margin: 30px 0;
	transition: opacity 0.8s ease-in-out;
	width: 522px;
	box-sizing: border-box;
}

.picture_taken {
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

.pressed-button:active {
	border-color : #6b2404;
	background-color: #6b2404;

}

.pictures-container {
	border-left: 1px solid rgba(220, 220, 220, 0.5);
	flex: 0 0 300px; 
	padding-top: 10px;
	overflow: auto;
}

.small-pic-container {
	width: 251px;
	height: 188px;
	margin: 5px auto;
	position: relative;
	animation: slide-down 0.7s ease-out;
	transition: all 0.7s;
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-1000px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.small-pic {
	width: 251px;
	height: 188px;
}

.small-pic-container:hover .small-pic {
	opacity: 0.4;
}

.close {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	opacity: 0.5;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 7.5px;
	content: ' ';
	height: 16.5px;
	width: 1px;
	background-color: #6b2404;
	border: 0.1px solid rgba(255, 255, 255, 0.1);
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

@media (max-width: 1125px) {
	.meta-workshop {
		display: block;
		overflow: auto;
	}
	.pictures-container {
		display: block;
		width: 100%;
	}
	.small-pic-container {
		display: inline-block;
		width: 25%;
		height: auto;
		margin: 0;
		padding: 0 2px;
		box-sizing: border-box;
	}
	.small-pic {
		width: 100%;
		height: auto;
	}
	.workshop-container, .pictures-container {
		border: 0;
		border-top: 1px solid rgba(220, 220, 220, 0.5);
	}
}

@media (max-width: 800px) {
	.small-pic-container {
		width: 33.33%;
	}
}

@media (max-width: 500px) {
	.small-pic-container {
		width: 50%;
	}
}

@media (max-width: 522px) {
	.preview-container, .preview-element {
		width: 251px;
		height: 188px;
		margin: auto;
	}
	.photo {
		width: 251px;
		height: 188px;
	}

	.cat-wtf {
		width: 125px;
		height: 123px; 
	}
	.hair {
		width: 106px;
		height: 162px; 
	}
	.vegeta {
		width: 53px;
		height: 137px; 
	}
	.pipe {
		width: 80px;
		height: 46px; 
	}
	.pikachu {
		width: 100px;
		height: 140px; 
	}
	.save-picture, .take-picture {
		width: 299px;
	}
	.preview-container {
		border: 6px #333 solid;
	}
}

@media (max-height: 1500px) {
	.title-workshop {
		margin-bottom: 0px;
		padding: 0;
	}
	.button {
		margin: 10px 0;
	}
}

@media (max-height: 1050px) {
	.preview-container, .preview-element {
		width: 251px;
		height: 188px;
		margin: auto;
	}
	.photo {
		width: 251px;
		height: 188px;
	}

	.cat-wtf {
		width: 125px;
		height: 123px; 
	}
	.hair {
		width: 106px;
		height: 162px; 
	}
	.vegeta {
		width: 53px;
		height: 137px; 
	}
	.pipe {
		width: 80px;
		height: 46px; 
	}
	.pikachu {
		width: 100px;
		height: 140px; 
	}
	.save-picture, .take-picture {
		width: 299px;
	}
	.preview-container {
		border: 6px #333 solid;
	}
	.frame-container > .dropzone-layer {
		width: 100%;
		height: 95%;
	}
	.workshop-container {
		overflow-y: auto;
	}
}