/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
a img {
	border: none;
}
/* Reset `button` and button-style `input` default styles */
input[type="submit"] {
	background: none;
	border: 0;
	color: inherit;
	cursor: default; 
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
}

/* GLOBAL STYLES */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow:hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
}

.content-container {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

/* HEADER */
.header {
	/*background-color: #eee;*/
	border-bottom: 1px solid rgba(220, 220, 220, 0.5);
	height: 60px;
	position: relative;
	width: 100%;
}

.header a {
	text-decoration: none;
}

.header-nav {
	float: right;
	height: 60px;
	display: flex;
}
.header-nav > li {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}
.header-nav > li:after {
	content: '';
	padding: 0 0.5em;
	height: 50%;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.header-nav > li:last-child:after {
	border-right: 1px solid transparent;
}

.header-nav li a {
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
}

.header-nav a:hover,
.header-nav a:active {
	color: #ed6e2f;
}

.header-logo {
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 0 0 10px;
	height: 60px;

	font-size: 2.3rem;
	font-weight: bold;
	font-style: italic;
}

.header-logo:hover,
.header-logo:active {
	font-style: normal;
}
.header-logo, li > a.active-link {
	color: #ed6e2f;
}

.img-profile {
	width: auto;
	/*box-sizing: border-box;*/
	height: 66%;
	border-radius: 100px;
	border: 3px outset transparent;
}

/* DROPDOWN STYLES */
.dropdown {
	position: relative;
}
.dropdown:hover .drop-menu {
	display: block;
}

.drop-menu {
	border-top: 1px solid rgba(220, 220, 220, 0.5);
	box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.2);
	display: none;
	list-style: none;
	position: absolute;
	top: 60px;
	right: 0px;
}

.drop-menu a {
	display: block;
	font-weight: normal;
	padding: 0.5em 1em 0.5em;
	text-align: left;
	white-space: nowrap;
}
.drop-menu a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #ed6e2f;
}

.dropdown:hover .drop-trigger {
	border: 3px outset #ed6e2f;
}

.big-profile {
	margin-top: 50px;
	border-radius: 1000px;
	border: 5px outset transparent;
}

.big-profile:hover {
	border: 5px outset #ed6e2f;
}

/* HEADER SANDWITCH */
.sandwitch {
	display: none;
	cursor: pointer;
	float: right;
	margin: 10px 10px;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: all 0.4s ease-in-out;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/* FLASH */
.flash-message {
	position: absolute;
	top: -50px;
	width: 100%;
	background: #fde073;
	text-align: center;
	line-height: 2.5;
	box-shadow: 0 0 5px black;
	animation: smooth_flash 4s;
}

@keyframes smooth_flash {
	0% {opacity: 0; transform: translateY(0px);}
	33% {opacity: 1; transform: translateY(110px);}
	66% {opacity: 1; transform: translateY(110px);}
	100% {opacity: 0; transform: translateY(0px);}
}

/* FORMS */
.form-container {
	margin: auto;
	text-align: center;
	background-color: #eee;
}
.inputs {
	margin: 50px;
}

input {
	width: 200px;
}

input:focus {
	border: 2px solid rgb(237, 110, 47, 0.6);
	box-shadow: 0px 0px 14px 1px rgba(248,112,9,0.82);
	outline: 0 none;
}

input[type=submit] {
	width: 180px;
	font-family: 'Indie Flower', cursive;
	display: inline-block;
	box-sizing: border-box;
	height: 60px;

	font-size: 2.3rem;
	font-weight: bold;
	font-style: italic;
}
input[type=submit]:hover, input[type=submit]:active {
	color: #ed6e2f;
}

.inputs input[type=submit]:focus {
	outline: none;
	border: none;
	box-shadow: none;
	color: #ed6e2f;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 149px;
	font-style: italic;
	opacity: 0.5;
	text-align: center;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -75px;
}

.reset-pwd {
	margin-bottom: 50px;
	background-color: white;
    color: black;
    border: 2px solid #ed6e2f;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.reset-pwd:hover {
    background-color: #ed6e2f;
    color: white;
}



.tooltip:hover .tooltiptext {
	visibility: visible;
}
.inputs input:focus + span.tooltiptext {
	visibility: visible;
}

.forgotten {
	width: 149px;
	font-style: italic;
	text-align: center;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -75px;
}
.forgotten a {
	color: black;
	opacity: 0.5;
}
.forgotten a:hover, .forgotten a:active {
	opacity: 1;
}


/* FOOTER */
.footer {
	height: 20px;
	position: relative;
}
.ref {
	color: black;
	text-decoration: none;
	float: right;
	padding-right: 5px;
	font-style: italic;
	opacity: 0.5;
}
.ref:hover, .ref:active {
	opacity: 1;
}

@media (max-width: 800px) {
	.sandwitch {
		display: inline-block;
	}
	.header-nav {
		display: block;
		background-color: #eee;
		box-sizing: border-box;
		top: 60px;
		left: 0;
		height: auto;
		max-height: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		text-align: center;
		transition: all 0.8s ease-in-out;
		width: 100vw;
		z-index: 9;
	}
	.header-nav > li {
		height: auto;
		padding: 0;
	}
	.header-nav > li:after {
		content: '';
		padding: 0;
		max-height: 0px;
		border-right: 0;
	}

	.img-profile {
		width: auto;
		height: 30px;
	}

	.appear {
		max-height: 1000px;
	}
	.header-nav li {
		display: block;
		margin-top: 1em;
	}
	.header-nav > li ~ li {
		border-left: 0;
		padding-left: 0;
	}
	.header-nav > li:last-child {
		margin-bottom: 1em;
	}
	.header-nav > li.dropdown {
		margin-bottom: 0;
	}
	.header-nav {
		padding-right: 0;
	}
	.drop-trigger {
		display: none;
	}
	.dropdown {
		position: static;
	}
	.drop-menu {
		display: block;
		position: static;
		border-top: 0;
		box-shadow: none;
	}
	.drop-menu a {
		display: block;
		padding: 0;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
	}
}

@media (max-width: 400px) {
	.header-logo {
		padding-top: 12px;
		font-size: 2.2rem;
	}
	input {
		width: 130px;
	}
	.reset-pwd {
    padding: 10px 35px;
}
}

@media (max-width: 311px) {
	html {
		display: none;
	}
}