.workshop-container {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-left: 1px solid rgba(220, 220, 220, 0.5);
}

.centered {
	margin: auto;
	width: 522px;
	text-align: center;
}

.preview-container, .preview-element {
	text-align: left;
	width: 502px;
	height: 376px;
	position: relative;
	overflow: hidden;
}

.preview-element {
	transform: rotateY(180deg);
}

.photo {
	width: 502px;
	height: 376px;
}

.preview-container {
	border: 10px #333 solid;
}

.dropzone-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	background-color: transparent;
}

.frame-container {
	border-left: 1px solid rgba(220, 220, 220, 0.5);
	flex: 0 0 300px;
	padding-top: 10px;
	text-align: center;
	position:relative;
	overflow: hidden;
}

.frames {
	cursor: pointer;
	z-index: 10;
}
.preview-element {
	z-index: 1;
	position: absolute;
}

li {
	list-style: none;
}

.take-picture {
	cursor: not-allowed;
	margin: 30px 0;
	width: 522px;
	box-sizing: border-box;
}

.save-picture {
	cursor: pointer;
	opacity: 0;
	margin: 30px 0;
	transition: opacity 0.8s ease-in-out;
	width: 522px;
	box-sizing: border-box;
}

.picture_taken {
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

.pressed-button:active {
	border-color : #6b2404;
	background-color: #6b2404;

}

.pictures-container {
	border-left: 1px solid rgba(220, 220, 220, 0.5);
	flex: 0 0 300px; 
	padding-top: 10px;
    overflow: auto;
}

.small-pic-container {
	width: 251px;
	height: 188px;
	margin: 5px auto;
	position: relative;
}

.small-pic {
	width: 251px;
	height: 188px;
}

.small-pic-container:hover .small-pic {
	opacity: 0.4;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 7.5px;
  content: ' ';
  height: 16.5px;
  width: 1px;
  background-color: #6b2404;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 1125px) {
	.content-container {
		display: block;
	}
	.workshop-container, .pictures-container {
		border-left: 0;
		border-top: 1px solid rgba(220, 220, 220, 0.5);
	}
	.pictures-container li, .frame-container img {
		display: inline-block;
	}
}

@media (max-width: 522px) {
	.preview-container, .preview-element {
		width: 251px;
		height: 188px;
		margin: auto;
	}
	.photo {
		width: 251px;
		height: 188px;
	}

	.cat-wtf {
		width: 125px;
		height: 123px; 
	}
	.hair {
		width: 106px;
		height: 162px; 
	}
	.vegeta {
		width: 53px;
		height: 137px; 
	}
	.pipe {
		width: 80px;
		height: 46px; 
	}
	.pikachu {
		width: 100px;
		height: 140px; 
	}
	.save-picture, .take-picture {
		width: 299px;
	}
	.preview-container {
		border: 6px #333 solid;
	}
}