RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^home/index/?$ /index.php [L]
RewriteRule ^home/modal/?$ /index.php [L]
RewriteRule ^home/infinite/?$ /index.php [L]


RewriteRule ^user/signup/?$ /index.php [L]
RewriteRule ^user/create/?$ /index.php [L]
RewriteRule ^user/confirm/?$ /index.php [L]

RewriteRule ^user/signin/?$ /index.php [L]
RewriteRule ^user/connect/?$ /index.php [L]

RewriteRule ^user/signout/?$ /index.php [L]

RewriteRule ^user/profile/?$ /index.php [L]
RewriteRule ^user/update/?$ /index.php [L]

RewriteRule ^user/reset/?$ /index.php [L]
RewriteRule ^user/reset_1/?$ /index.php [L]
RewriteRule ^user/reset_2/?$ /index.php [L]
RewriteRule ^user/reset_password/?$ /index.php [L]
RewriteRule ^user/reset_3/?$ /index.php [L]


RewriteRule ^picture/workshop/?$ /index.php [L]
RewriteRule ^picture/save/?$ /index.php [L]
RewriteRule ^picture/delete/?$ /index.php [L]
RewriteRule ^picture/like/?$ /index.php [L]
RewriteRule ^picture/dislike/?$ /index.php [L]
RewriteRule ^picture/comment/?$ /index.php [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [R]
